<!DOCTYPE html>
<html ng-app="quoteApp">
<head><title></title></head>
<body ng-controller="quoteCtrl as Ctrl">
<div ng-repeat="quote in quotes">
	"{{quote.quoteText}}" From: {{quote.game}}
</div>
<br><br>
Get quotes from a game here!
<form>
<input type="text" ng-model="gameText"></input>
<input type="submit" ng-click="getQuotesByGame()">
<div ng-repeat="q in quotesByGame">
	-"{{q.quoteText}}"
</div>
</form>

<!-- Angular -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script type="text/javascript" src="js/quotes.js"></script>
</body>
</html>